* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 5rem;
  font-family: 'lobster',cursive;
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-family: 'lobster',cursive;
  font-weight: lighter;
}

h3 {
  font-size: 2.1rem;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background: radial-gradient(rgba(224, 63, 224, 0.582), black);
}

.nav-container {
  background: radial-gradient(rgba(224, 63, 224, 0.582));
}

nav {
  width: 80%;
  margin: auto;
  min-height: 8vh;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
}

nav .home {
  background-color: #0000004f;
  padding: 1rem 2rem;
  border-radius: 30%;
}

#logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  height: 5%;
  width: 5%;
  position: relative;
}

.Showcase {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  -ms-grid-columns: 10% (minmax(3rem, 2fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(3rem, 2fr)) 10%;
  -ms-grid-rows: 1.2fr 4fr 1.2fr;
      grid-template-rows: 1.2fr 4fr 1.2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Showcase h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
}

.Showcase img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  height: 100%;
}

.Showcase .info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.Showcase .info h3 {
  padding-bottom: 2rem;
}

.Features {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.Features .cards .card {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background: #00000086;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10%;
  overflow: hidden;
  margin: 0rem 3rem;
}

.Features .cards .card h2 {
  padding: 2rem;
}

.Features .cards .card p {
  color: black;
  background: white;
  padding: 5rem;
}

.Features .cards .card img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 20%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features-container {
  position: relative;
}

.features-container .vector {
  height: 120%;
  width: 60%;
  margin: auto;
  position: absolute;
  top: 0;
  -webkit-transform: translate(30%);
          transform: translate(30%);
  z-index: 1;
}

.gallery {
  padding-top: 15rem;
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 140vh;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.image-wrapper img:hover {
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
}

.modal {
  background: rgba(0, 0, 0, 0.438);
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.full-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: all 0.3 ease-out;
  transition: all 0.3 ease-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.full-image.open {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=style.css.map */